@using prjProgFinalMVC2.ViewModels
@model CreateModuleViewModel

<h2>Add New Module</h2>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div class="form-group mb-3">
                <label asp-for="ModuleCode" class="control-label"></label>
                <input asp-for="ModuleCode" class="form-control" />
                <span asp-validation-for="ModuleCode" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="ModuleName" class="control-label"></label>
                <input asp-for="ModuleName" class="form-control" />
                <span asp-validation-for="ModuleName" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="HourlyRate" class="control-label"></label>
                <input asp-for="HourlyRate" class="form-control" />
                <span asp-validation-for="HourlyRate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
